<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>Uband的朋友们</title>
    
    <link rel="stylesheet" href="/static/lib/weui/style/weui.css">
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body ontouchstart>
    <!-- logo -->
    <div class="logo-page">
        <img class="uband-logo" src="/static/img/uband-logo.png" alt="">
        <span class="uband-badge">资深学员</span>
    </div>
    <!-- end of logo-->
    <div>
        <div class="weui-panel__bd">
                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img class="weui-media-box__thumb" src="/static/img/heads/zhefeng-avatar.jpg" alt="zhefeng的头像">
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">zhefeng</h4>
                        <p class="weui-media-box__desc">点比较奇怪的人</p>
                        <span class="uband-badge">资深学员</span>
                    </div>
                </a>
                 <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img class="weui-media-box__thumb" src="/static/img/heads/樱木.jpg" alt="小猴子的头像"/>
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">小猴子不爬树</h4>
                        <p class="weui-media-box__desc">一人，一隅，如此而已</p>
                        <span class="weui-badge">文艺青年</span>
                    </div>
                </a>
                
            </div>
    </div>
</body>
</html>
